.content {
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 0.5em;
}

.header {
  background-color: #90A8FF;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  display: flex;
  height: 3em;
}

.btnContent {
  margin-bottom: 0.5em;
}

.updateBtn {
  align-items: center;
  background-color: #3e68ff;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 18%);
  padding: 0.25em 0.75em;
  min-height: 44px;
  transition: 220ms all ease-in-out;
  border: none;
}

.ReactTable .-pagination .-center {
  flex: unset !important;
}